# Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Sensitive files
secrets/

# Virtual environments
venv/
env/

# IDE and editor files
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp